@model GymBuddyWebApp.Domain.CardioContest

<meta charset="utf-8" />
@{
    ViewData["Title"] = "Title";
}
<p>Id: @Model.Id</p>
<p>Cardiotype: @Model.CardioTypes</p>
<p>Competiition name: @Model.Name</p>



