@model GymBuddyWebApp.Domain.CardioContest
<form asp-controller="CardioContest" asp-action="Edit" method="post">
    <p><span>Edit by Id:</span></p>
    <div>
        <input type="text" asp-for="Id"></>
        <span asp-validation-for="Id" class="text-danger"></span><br />
    </div>
    <button type="Submit"> Edit</button>
</form>
<form asp-controller="CardioContest" asp-action="Delete" method="post">
    <p><span>Delete by Id:</span></p> 
    <div>
        <input type="text" asp-for="Id"></>
        <span asp-validation-for="Id" class="text-danger"></span><br />
    </div>
    <button type="Submit"> Delete</button>
</form>
<form asp-controller="CardioContest" asp-action="Create" method="post">
    <p><span>Create contest</span></p> 
    <button type="Submit">Create</button>
</form>
<form asp-controller="CardioContest" asp-action="Details" method="post">
    <p><span>Get details by Id:</span></p> 
    <div>
        <input type="text" asp-for="Id"></>
        <span asp-validation-for="Id" class="text-danger"></span><br />
   
    <button type="Submit"> Details</button>
    </div>
</form>