<!DOCTYPE html>
<html>
<head>
    
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
<h1><span>"Lift is the gift, swole is the goal, size is the price in the glorious house of gains" - Robert Frank</span></h1>
<h2><span>Push the button and go from zero to hero</span> </h2>
<h3></h3>

<div>
    <img id="fatboi" src="images/fatboi.jpg"  height="400" width="400" />
    <button id="GetJacked">HERO</button>
</div>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script>
    function getJacked() {
        $("#fatboi").attr('src',"images/rippedguy.png");
    }
    $("#GetJacked").click(getJacked);
</script>

</body>
</html>