body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white !important;
    color: maroon !important;
    font-family: bold;
  
}
h1 span { background-color: yellow;}
h2 span {
    background-color: aqua;
}

button {
    color: maroon !important;
    font-family: bold;
}
a {
    color: Orange !important;
    font-weight: 900;
    /*font-size: 150%;*/
}
#gymbuddy {
    font-size: 200%;
}
nav {
    font-family: bold;
    background-color: crimson !important;
    color: Orange !important;
    min-height: 20%;
    font-size: 125%;
}
input[type=text] {
    border: 2px solid crimson;
    border-radius: 4px;
}
button {
    background-color: Orange; 
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
    margin: 2px;
}
#Thumbnail {
    border-color: crimson !important;
    border-width: 3px;
    color: darkgray;
}


h3 {
    color: crimson !important;
    font-weight: 900;
}
p {
    font-weight: 900;
    font-size: 115%;
    color: crimson !important;
  
  
}
form {
    margin-top: 5px;
    line-height: 0.8;
}
p span {
     
        color: maroon !important;
    }

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}
b {
    color: Maroon !important;
    font-family: bold;
}
#Create {
    background-color: crimson; 
    border: none;
    color: gold !important;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
   
    display: inline-block;
    font-size: 32px;
    border-radius: 6px;
    margin: 2px;
    
   
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img {
    width: 100%;
}

.carousel .item {
    height: 400px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
