@model GymBuddyWebApp.Domain.Cardio
@{
    ViewData["Title"] = "CardioAdded";
}

<h2>CardioAdded</h2>
<h4>Great job!</h4>
<b>Cardio type:</b>
<p>@Model.CardioType</p>
<b>Distance</b>
<p>@Model.Distance</p>
<b>Time</b>
<p>@Model.Time minutes</p>
<b></b>
@*<p>@Model.Person.FirstName</p>*@

