@model GymBuddyWebApp.Domain.Cardio

<meta charset="utf-8" />
@{
    ViewData["Title"] = "Title";
}
<p>Id: @Model.Id</p>
<p>Firstname: @Model.CardioType</p>
<p>Lastname: @Model.Date</p>
<p>Distance(km): @Model.Distance</p>


