@model GymBuddyWebApp.Domain.Cardio

<meta charset="utf-8" />
@{
    ViewData["Title"] = "Title";
}
<div class="col-sm-4 col-lg-4 col-md-4">
<div class="thumbnail" id="thumbnail">
    <p>Id: @Model.Id</p>
    <p>Firstname: @Model.CardioType</p>
    <p>Lastname: @Model.Date</p>
    <p>Distance(km): @Model.Distance</p>
</div>
    </div>
