@model GymBuddyWebApp.Domain.Person
@{
    ViewData["Title"] = "Edit";
}

<form asp-controller="People" asp-action="Update" method="get">
    <div>
        <p>ID:</p>
        <input type="text" asp-for="Id">
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div>
       <p>First name:</p>
        <input type="text" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <p>LastName:</p>
    <div>
        <input type="text" asp-for="LastName"></>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <p>Age:</p>
    <div>
        <input type="text" asp-for="Age"></>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <p>Height:</p>
    <div>
        <input class="" type="text" asp-for="Height"></>
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>
    <p>Weight:</p>
    <div>
        <input type="text" asp-for="Weight"></>
        <span asp-validation-for="Weight" class="text-danger"></span><br/>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>


    <button type="Submit" class="col-lg-1" > Update</button>
</form>
