@model GymBuddyWebApp.Domain.Person
@{
    ViewData["Title"] = "PersonAdded";
}

<h4>PersonAdded</h4>

<b>Fistname</b>
<p>@Model.FirstName</p>
<b>Lastname</b>
<p>@Model.LastName</p>
<b>Age</b>
<p>@Model.Age</p>
<b>Your values has been added to the database, welcome to gymbuddy!</b>
