@model GymBuddyWebApp.Domain.PersonCardioCompetiotion

<meta charset="utf-8" />
@{
    ViewData["Title"] = "Title";
}
<p>Id: @Model.Id</p>
<p>Cardio contest id: @Model.CardioContestId</p>
<p>Person id: @Model.PersonId</p>


